  body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  
}

a {
  text-decoration: none;
}

/* Visually hidden  */
.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
/* Form fields */

.input-text {
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  border: none;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
}

.input-text:hover {
  -webkit-box-shadow:rgba(154, 154, 154, 0.52) 0 0 0 2px;
          box-shadow:rgba(154, 154, 154, 0.52) 0 0 0 2px;

}

.input-text:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;

}



/* Buttons */

.button {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border: none;
  -webkit-box-shadow: rgba(172, 16, 0, 0.64) 0 2px 2px 0;
          box-shadow: rgba(172, 16, 0, 0.64) 0 2px 2px 0;
  text-shadow: rgba(160, 32, 11, 0.76) 0 2px 5px;
  
}

.button:hover,
.button:focus {
  background: #f17d65;
  -webkit-box-shadow: rgba(172, 16, 0, 1) 0 2px 2px 0;
          box-shadow: rgba(172, 16, 0, 1) 0 2px 2px 0;
  outline: none;
}

.button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background: linear-gradient(to top, #f26843, #e74a35);
  -webkit-box-shadow: inset rgba(148, 39, 24, 1) 0 2px 2px 0;
          box-shadow: inset rgba(148, 39, 24, 1) 0 2px 2px 0;
  
}

.site-wrapper {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 25px;

  background-color: #849d8f;

  background-image: url(../img/slider-img-1.png);
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.3s ease, background-color 0.3s ease;

  transition: background-image 0.3s ease, background-color 0.3s ease;
}

.inner .site-wrapper {
  background-image: none;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-img-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-img-3.png");
}

/* Header */
.main-header {
  width: 100%;
  min-height: 113px;
}

.inner .main-header {
  margin-bottom: -22px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.block-wrapper-topline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 18px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;

}

.dropdown {
  display: none;
}

.site-navigation-list,
.navigation-dropdown-list  {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 16px;
}

.navigation-dropdown-list {
  position: absolute;
  top: 36px;
  left: -8px;
  
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;
  min-width: 144px;
  
  display: none;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: rgba(0,0,0, 0.4) 0px 20px 20px 0px;
          box-shadow: rgba(0,0,0, 0.4) 0px 20px 20px 0px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  z-index: 20;
}

.site-navigation-item {
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-right: 3px;

  padding-bottom: 20px;
}


.site-navigation-item:hover .navigation-dropdown-list,
.site-navigation-link:focus + .navigation-dropdown-list {
  display: block;
}

  
.site-navigation-link {
  padding: 6px 13px;
  border-radius: 15px;
  background-color: transparent;
  color: inherit;
}

.site-navigation-item:hover .site-navigation-link:not(.site-navigation-link-current),
.site-navigation-link:focus:not(.site-navigation-link-current) {

  color: #333333;
  background-color: #ededed;
  font-weight: 700;
  outline: none;
}

.site-navigation-link .link-text-wrapper{
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 100%);
  background-position: 0 17px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.site-navigation-link:hover .link-text-wrapper{
  background: none;
  
}

.site-navigation-link,
.search-call-link {
  color: inherit;
  
}


.site-navigation-link-current {
  background-color: #d07058;
  outline: none;
}

.site-navigation-link-current .link-text-wrapper {
  background: none;
}


.site-navigation-link:active {
  -webkit-box-shadow: inset rgba(105, 105, 105, 1) 0 2px 1px 0;
          box-shadow: inset rgba(105, 105, 105, 1) 0 2px 1px 0;
}

.dropdown-navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-navigation-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 15px 7px 20px;
  width: 100%;
  background-color: inherit;
  color: inherit;
}

.dropdown-navigation-item:last-child .dropdown-navigation-link {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



.navigation-item-special {
  position: relative;
  padding: 12px 20px;
  font-weight: 700;
}

.navigation-item-special::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;

  width: 128px;
  height: 1px;
  background-color: rgba(209, 208, 206, 0.2);
}


.dropdown-navigation-link:hover:not(.dropdown-navigation-link-current),
.dropdown-navigation-link:focus:not(.dropdown-navigation-link-current) {
  background-color: #fbded7;
  outline: none;
}

.dropdown-navigation-link:active:not(.dropdown-navigation-link-current) {
  background-color: #f6b5a5;
}

.dropdown-navigation-link-current {
  background-color: #d07058;
  color: #ffffff;
  

}

.header-block {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header-search {
  position: relative;
  margin-right: 10px;
  padding-bottom: 5px;
}

.header-search-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;

  
}

.header-search-link:hover,
.header-search-link:focus {
  color: #323232;
  background-color: #f8f7f4;
  outline: none;
}

.header-search-link:hover .search-icon-path, 
.header-search-link:focus .search-icon-path {
  fill: #000000;
}

.header-login {
  position: relative;
  padding-bottom: 5px;
  margin-right: 10px;
}

.header-login:hover .form-login-block,
.header-login-link:focus + .form-login-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-login-link {
  position: relative;
  display: block;
 
  padding: 8px 20px;
  padding-left: 44px;
  padding-right: 17px;
  border-radius: 20px;
  
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-ico {
  position: absolute;
  top: 5px;
  left: 16px;
  
  width: 20px;
  height: 20px;

}

.header-login-link path {
  fill: #ffffff;

}

.header-login-link:hover path,
.header-login-link:focus path {
  fill: #323232;
}

.header-login:hover path {
  fill: #323232;
}

.header-login-link:hover,
.header-login-link:focus {
  color: #323232;
  background-color: #f8f7f4;
  outline: none;
}

.header-login:hover .header-login-link {
  color: #323232;
  background-color: #f8f7f4;

}

.header-cart {
  position: relative;
  padding-bottom: 5px;
}

.header-cart:hover .cart-content,
.header-cart-link:focus + .cart-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-cart-link {
  position: relative;
  display: block;
  padding: 8px 20px;
  padding-left: 43px;
  border-radius: 20px;
  color: inherit;
  
  background-color: rgba(255, 255, 255, 0.2);
  padding-right: 18px;
}

.header-cart:hover .header-cart-link {
  background-color: rgba(248,247,244, 0.99);
  color: #323232;

}

.header-cart-link:focus,
.header-cart-link.cart-filled {
  background-color: rgba(248,247,244, 0.99);
  color: #323232;
  outline: none;
}

.cart-ico {
  position: absolute;
  top: 6px;
  left: 17px;
  
  width: 20px;
  height: 20px;
}

.cart-filled-ico {
  position: absolute;
  top: 6px;
  left: 17px;
  
  width: 20px;
  height: 20px;
}

.cart-filled-ico path:not(.cart-ico-inside),
.cart-filled-ico circle:not(.cart-ico-inside) {
  fill: #ffffff;
}



.header-cart-link.cart-filled .cart-ico {
  display: none;
}

.header-cart-link:hover:not(.cart-filled),
.header-cart-link:focus:not(.cart-filled) {
  color: #323232;
  background-color: #f8f7f4;
  outline: none;
}

.header-cart:hover path:not(.cart-ico-inside),
.header-cart:hover circle,
.header-cart-link:focus path:not(.cart-ico-inside),
.header-cart-link:focus circle,
.header-cart-link.cart-filled circle,
.header-cart-link.cart-filled path:not(.cart-ico-inside) {
  fill: #323232;
}

.header-contacts {
  text-align: right;
}

.header-contacts-link {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;

}

.header-contacts-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: inherit;
}

/* Login form */
.form-login-block {
  position: absolute;
  top: 35px;
  right: 0;
  
  width: 236px;
  padding-bottom: 22px;
  padding-top: 18px;
  padding-left: 19px;
  padding-right: 22px;

  color: #323232;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);
  border-radius: 5px;
  z-index: 20;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

.login-form .input-wrapper {
  margin-bottom: 13px;

}

.login-form .input-wrapper:nth-child(2) {
  margin-bottom: 16px;

}

.login-form .input-text {
  width: 240px;
}

.login-form .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.login-form-button {
  padding: 15px 25px;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 14px;

}


.service-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.login-form-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: inherit;
  /* border-bottom: 1px solid rgba(50, 50, 50, 0.3); */
  background: -webkit-gradient(linear, left top, right top, from(rgba(50, 50, 50, 0.3)), to(rgba(50, 50, 50, 0.3)));
  background: linear-gradient(to right, rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3) 100%);
  background-position: 0 18px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  
}

.login-form-link:first-child {
  margin-bottom: -3px;

} 



.login-form-link:hover,
.login-form-link:active,
.login-form-link:focus {
  color: #e84d37;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(232, 77, 55, 0.3)), to(rgba(232, 77, 55, 0.3)));
  background-image: linear-gradient(to right, rgba(232, 77, 55, 0.3), rgba(232, 77, 55, 0.3) 100%);
  outline: none;
}

/* Search form */
.form-search-block {
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 340px;
  padding: 18px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);
  color:#323232;
  background-color: #f8f7f4;
  z-index: 20;

}

.header-search:hover .form-search-block,
.header-search-link:focus + .form-search-block {
  display: block;
}

.header-search:hover .header-search-link {
  color: #323232;
  background-color: #f8f7f4;
}

.header-search:hover path {
  fill: #000000;
}

.header-search .input-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

/* Cart Modal */

.cart-content {
  position: absolute;
  top: 35px;
  right: 0;
  
  -webkit-box-orient: vertical;
  
  -webkit-box-direction: normal;
  
      -ms-flex-direction: column;
  
          flex-direction: column;
  
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;  
  width: 540px;
  padding: 20px;
  
  -webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);
  
          box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);
  border-radius: 5px;
  
  font-size: 13px;
  color: #323232;
  background-color: #f8f7f4;
  
  z-index: 20;
}

.cart-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.modal-cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.modal-cart-row:not(:last-child) {
  margin-bottom: 24px;
}

.modal-cart-row:nth-of-type(3) {
  margin-bottom: 10px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cacac7; 
}

.delete-cell {
  padding-right: 9px;
}

.img-cell {
  padding-right: 11px;
}

.item-name-cell {
  width: 220px;
  padding-right: 25px;
}

.quantity-cell {
  padding-right: 24px;
}

.img-cell .cart-image {
  border-radius: 50%;
}

.quantity-cell,
.cost-cell {
  text-align: center;
}

.quantity-cell .price {
  color: #999999;
}

.final-price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  line-height: 18px;
  font-weight: 700;
  font-size: 15px;
}

.button-delete-item {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/cross-small.svg") no-repeat 50% 50%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.order-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 12px;
  border-radius: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

/* Index Promo-slider */
.promo-slider {
  position: relative;
  padding-top: 210px;
}

.promo-slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-slider-item {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.slide-header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 680px;
  margin-bottom: 25px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
}

.slider-button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;

  padding: 12px 44px;

  border-radius: 50px;

  margin-bottom: 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  bottom: 61px;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

}

.slider-controls .label-slider{
  margin-right: 8px;
}


.slider-controls .dot {
  display: block;
  width: 16px;
  height: 16px;
  
  border: 2px solid #ffffff;
  border-radius: 50%;

  background-color: transparent;
}

.slider-controls .dot:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.product-1:checked ~ .site-wrapper .label-slider[for="product-1"],
.product-2:checked ~ .site-wrapper .label-slider[for="product-2"],
.product-3:checked ~ .site-wrapper .label-slider[for="product-3"] {
  background-color: #ffffff;
}

/* Показываем слайды */
.product-1:checked ~ .site-wrapper .slide1,
.product-2:checked ~ .site-wrapper .slide2,
.product-3:checked ~ .site-wrapper .slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-img-1.png");
}

.product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-img-2.png");
}

.product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-img-3.png");
}


/* Index Banners */
.banners {
  margin-bottom: 40px;
}

.banners-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.banners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 230px;
  width: 560px;
  padding: 16px 18px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}



.banners-item:first-child {
  background-color:#5f1020;
  background-image: url("../img/raspberry-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banners-item:last-child {
  background-color: #482d21 ;
  background-image: url("../img/chocolate-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-header {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin-bottom: 20px;
}

.banner-description {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.banner-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* Inner header */
.inner .page-title {
  margin: 0;
   margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* Inner breadcrumbs */
.breadcrumb {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.breadcrumb-item {
  position: relative;
  margin-right: 21px;
}

.breadcrumb-item::after {
  content: "»";

  position: absolute;
  top: 0;
  right: -12px;
  
  width:5px;
  height: 5px;

}

.breadcrumb-link {
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumb-link:hover,
.breadcrumb-link:active,
.breadcrumb-link:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  outline: none;  
}

/* Inner filters */
.filters {
  margin-bottom: 37px;
  min-height: 140px;
  line-height: 18px;
  font-weight: 500;
}

.filter {
  width: 855px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 5px;
}

.filter-line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.filter-line-wrapper:not(:last-child) {
  margin-bottom: 15px;
}

.field-sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  
  width: 195px;
  
  margin-right: 10px;
}

.filter-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  border: none;
} 

.filter-fieldset-price {
  width: 220px;
  margin-right: 10px;
}

.filter-fieldset-fat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 420px;
}

.filter-fieldset-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 13px;
  width: 700px;
}

.filter-parameter-name {
  margin-bottom: 7px;
  margin-left: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-select {
  position: relative;
  width: 195px;
  padding: 7px 14px;

  /*for WebKit*/  
  -webkit-appearance: none;
  /* for FF */
 -moz-appearance: none;
 text-indent: 0.01px; 
 text-overflow: "";
  /* for IE */ 
 -ms-appearance: none;
  appearance: none;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;
}

.filter-select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
}

.select-arrow {
  position: absolute;
  top: 11px;
  right: 13px;

  width: 12;
  height: 12;

  z-index: 999;
}

.filter-select-option {
  font-size: 14px;
  line-height: 16px;
}

.filter-select:hover {
  color: #323232;
}

.filter-select:focus {
  color: #323232;
  background-color: #ffffff;
  outline: none;
}

.filter-select:hover + .select-arrow > .select-arrow-path,
.filter-select:focus + .select-arrow > .select-arrow-path {
  fill: #323232;
}

.legend-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
}

.price-param {
  margin-right: 4px;
}

.price-param-inputs {
  font-size: 14px;  
  line-height: 16px;
  font-weight: 500;
}

.filter-input-range {
  background-color: rgba(255, 255, 255, 0.2);
}

.range-input {
  width: 27px;
  font:inherit;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.range-block {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding: 16px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.range-block .scale {
  padding-left: 23px;
  height: 3px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-block .bar {
  width: 100px;
  height: 3px;
  background-color: rgba(248, 247, 244, 1);
}

.toggle {
  position: absolute;
  top: 8px;

  width: 4px;
  height: 4px;
  
  background-color: #ababaa;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggle-min {
  left: 34px;
}

.toggle-max {
  left: 132px;
}

.toggle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}


.filter-fat-list,
.filter-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-fat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  
  padding: 9px 17px;
  border-radius: 20px;

 }

 .filter-fat-list .filter-option {
  position: relative;

}

.filter-label-radio {
  position: relative;
  padding-left: 32px;

}

.filter-input-radio + .filter-label-radio::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 14px;
  height: 14px;
  background-color: transparent;

  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-input-radio:disabled + .filter-label-radio::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 14px;
  height: 14px;
  background-color: transparent;

  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.filter-input-radio + .filter-label-radio:hover::before,
.filter-input-radio:focus + .filter-label-radio::before {
  border-color: rgba(255, 255, 255, 1);
}

.filter-input-radio:checked + .filter-label-radio::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;

  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-input-radio:checked:disabled + .filter-label-radio::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;

  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.4);
 
}

.filter-input-radio:checked:focus + .filter-label-radio::after, 
.filter-input-radio:checked + .filter-label-radio:hover::after {
  background-color: rgba(255, 255, 255, 1);
}
 
.filter-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  padding-top: 9px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 20px;
}


.filter-content-list .filter-option {
  position: relative;
  padding-left: 28px;
  margin-right: 20px;
  margin-bottom: 9px;
  
}

.filter-label-checkbox {
  position: relative;
}

.checkbox-off {
  position: absolute;
  top: -3px;
  left: -28px;
  width: 21px;

}

.checkbox-on {
  position: absolute;
  top: -3px;
  left: -28px;
  width: 24px;
}

.filter-label-checkbox .checkbox-off-path,
.filter-label-checkbox .checkbox-on-path  {
  fill: rgba(255, 255, 255, 0.8);
}

.filter-label-checkbox:hover .checkbox-off-path,
.filter-label-checkbox:hover .checkbox-on-path,
.filter-input-checkbox:focus ~ .filter-label-checkbox .checkbox-off-path,
.filter-input-checkbox:focus ~ .filter-label-checkbox .checkbox-on-path  {
  fill: rgba(255, 255, 255, 1);
}

.filter-input-checkbox + .filter-label-checkbox .checkbox-off {
  display: block;
}

.filter-input-checkbox + .filter-label-checkbox .checkbox-on {
  display: none;
}

.filter-input-checkbox:checked + .filter-label-checkbox .checkbox-on {
  display: block;
}

.filter-input-checkbox:checked + .filter-label-checkbox .checkbox-off {
  display: none;
}

.filter-input-checkbox:disabled + .filter-label-checkbox .checkbox-on-path,
.filter-input-checkbox:disabled + .filter-label-checkbox .checkbox-off-path,
.filter-input-checkbox:checked:disabled + .filter-label-checkbox .checkbox-on-path,
.filter-input-checkbox:checked:disabled + .filter-label-checkbox .checkbox-off-path {
  fill: rgba(255, 255, 255, 0.4);
}

.filter-input-checkbox:checked + .filter-label-checkbox .checkbox-off {
  display: none;
}

.filter-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 146px;
  padding: 9px 15px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
          box-shadow: inset 0 0 0 2px #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #ffffff;
  outline: none;
}

.filter-button:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #000000;
          box-shadow: inset 0 2px 1px 0 #000000;
  
}

/* Index Hits & Inner Catalog */
.bestsellers {
  color: #ffffff;
  margin-bottom: 38px;
}

.catalog {
  margin-bottom: 50px;
}

.catalog-list {
  margin: 0;
  padding: 0; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.inner .catalog-list {
  margin-bottom: 33px;
}

.catalog-item {
  position: relative;
  width: 267px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.catalog-item {
  margin-right: 25px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog .catalog-item {
  margin-bottom: 40px;
}

.catalog-item-image {
  border-radius: 50%;
  margin-bottom: 12px;
}

.bestsellers .catalog-item::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  
  width:61px;
  height: 61px;
  
  background: url("../img/hit.svg") 0 0 no-repeat;
  
  z-index: 30;
}

.catalog-item .item-header-link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-item .item-header-link:hover,
.catalog-item .item-header-link:focus,
.catalog-item .item-header-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  outline: none;
}

.catalog-item .item-price {
  margin: 0;
  position: absolute;
  left: 0;
  top: 210px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item .item-header {
  max-width: 255px;
  margin: 0;
  text-align: center;
}
.catalog-item .item-price-numbers {
  position: relative;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  padding-right: 36px;
}

.item-price-numbers::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 79px;
  width: 44px;
  height: 44px;
  background: url(../img/ruble.svg) left top no-repeat;

}

.catalog-item .item-button {
  padding: 10px 17px;

  border-radius: 20px;
  
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.item-extra {
  position: absolute;
  top: -5px;
  right: -15px;
  bottom: -80px;
  left: -15px;
  
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 20px;

  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;

  -webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);

          box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);
  z-index: 10;
}

.catalog-item:hover .item-extra,
.catalog-item-link:focus .item-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.catalog-item:hover > .item-header,
.catalog-item:hover > .item-price,
.catalog-item:hover > .item-header-link,
.catalog-item:hover > .catalog-item-image {
  z-index: 20;
}

/* Pagination */
.pagination-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.pagination-item {
  margin-right: 3px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  position: relative;
  display: block;
  
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;
  width: 25px;
  height: 25px;
  padding: 5px;
  
  text-align: center;
  border-radius: 50%;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;  
}

.pagination-link-current {
  background-color: #ffffff;
  color: #323232;
  outline: none;
}

.icon-next {
  position: absolute;
  right: 0;
  top: 8px;
}

.icon-prev {
  position: absolute;
  top: 8px;
  left: 1px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
 }
 
.pagination-link:hover:not(.pagination-link-current),
.pagination-link:focus:not(.pagination-link-current) {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  outline: none;
}

.pagination-link:active:not(.pagination-link-current) {
  background-color: #ffffff;
  color: #323232;
}

.pagination-link:hover.next,
.pagination-link:hover.prev,
.pagination-link:focus.next,
.pagination-link:focus.prev {
  background-color: transparent;
}

.pagination-link:hover .icon-next-path,
.pagination-link:hover .icon-prev-path,
.pagination-link:active .icon-next-path,
.pagination-link:active .icon-prev-path, 
.pagination-link:focus .icon-next-path,
.pagination-link:focus .icon-prev-path {
  fill: #ffffff;
}


/*Index Advantages */
.advantages {
  margin-bottom: 40px;
  padding: 25px 20px;

  border-radius: 20px;
  
  color: #323232;

  background-color: #eee1c6;
  background-image: url("../img/wafle-bg.jpg");
}

.advantages .column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list {
  width: 540px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-header {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages-item {
  position: relative;

  padding-left: 55px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.advantages-item:first-child {
  margin-bottom:23px;
}

.advantages-item::before {
  content: "";

  position: absolute;
  top: -10px;
  left: 0;

  width: 51px;
  height: 51px;

  background-repeat: no-repeat;
  background-position: top left;
  background-size: 49px 49px;
}

.ice::before {
  background-image: url("../img/ice-cream.svg");
}

.leaf::before {
  background-image: url("../img/eco.svg");
}

.cow::before {
  background-image: url("../img/cow.svg");
}

.termo::before {
  background-image: url("../img/thermometer.svg");
}




/* Index Last post */

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.last-post {
  width: 560px;
  padding: 25px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #323232;
  
  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-position: 17% 37%;
  background-repeat: no-repeat;

  border-radius: 15px;
}

.post-tag {
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

}

.post-header {
  width: 285px;
  margin: 0;

}

.post-header-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 1px solid #323232;
}

.post-header-link:hover,
.post-header-link:active, 
.post-header-link:focus {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
  outline: none;
}


/* Index Subscription */
.subscription {
  width: 550px;
  
  padding: 5px;
  border-radius: 15px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #323232;
  
}

.subscription-content {
  padding: 30px 20px;
  
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscription-text {
  margin: 0;
  margin-bottom: 33px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-form .input-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 12px;

}

.subscription-button {
  padding: 10px 20px;
  margin-left: auto;
  border-radius: 23px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* Index Contacts */
.contacts {
  position: relative;
  height: 430px;
  
}

.contacts .container {
  position: relative;
  height: inherit;
}

.contacts-map-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  z-index: 2;
}

.contacts-map {
  position: absolute;
  top:0;
  left: 0;
  
  height: inherit;
  width: 100%;
  margin: 0 auto;

  z-index: 1;
}

.contacts-block {
  position: absolute;
  bottom: 62px;
  right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  padding: 27px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
  padding-bottom: 30px;
  z-index: 10;
}

.contacts-block-text {
  margin:0;
  margin-bottom: 25px;

}

.contacts-special {
  margin-top: 3px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-tel {
  color: #323232;
}

.callback-button {
  padding: 10px 25px;
  border-radius: 20px;

  font-size: 18px;
  line-height: 24px;

}


/* Footer */
.main-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  padding-top: 34px;

}

.inner .main-footer {
  padding-top: 15px;
}

.main-footer.container::before {
  content: "";

  position: absolute;
  top: -20px;
  left: 27px;
  width: 1146px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3)

}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  line-height: 18px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

.social-item:not(:last-child) {
  margin-right: 11px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  border-color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.social-button:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-button path, 
.social-button:active path {
  fill: rgba(255, 255, 255, 0.8);
}
.social-button:hover path {
  fill: rgba(255, 255, 255, 1);
}

.social-button:active {
  -webkit-box-shadow: inset 0 2px 0 1px #888888;
          box-shadow: inset 0 2px 0 1px #888888;
}

.social-button:active path {
fill: #e9e9e9;
}

.footer-social {
  margin-right: 236px;
}

.footer-navigation-col {
  margin: 0;
  padding: 0;
  margin-right: 32px;
  list-style: none;
}

.footer-navigation-item {
  margin-bottom: 5px;
}

.navigation-link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.navigation-link:hover,
.navigation-link:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  outline: none;
}

.navigation-link-special:hover path,
.navigation-link-special:focus path {
  fill: #ffbc9e;
}

.navigation-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.navigation-link-special {
  position: relative;
  font-weight: 700;
}

.navigation-link-special .heart {
  position: absolute;
  top: 0;
  left: -20px;
  
  display: block;
  
  width: 15px;
  height: 15px;
}


.footer-copyright {
  margin-left: auto;
}

.copyright-logo {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.copyright-logo::before {
  content: "";
  width: 110px;
  height: 37px;

  top: -15px;
  left:0;

  display: block;
  position: absolute;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  color: inherit;
}

.copyright-link {
  font-size: inherit;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  outline: none;
}

.copyright-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
.copyright-link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright-logo-text {
  color: #ffffff;
}

/* Modal callback */


.modal-callback {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 480px;
  height: 440px;
  margin-left: -240px;
  margin-top: -220px;
  padding: 25px;
  padding-top: 15px;

  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 60;
}

.modal-callback-header {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callback-form .input-wrapper {
  margin-bottom: 20px;
} 

.callback-form .input-text {
  width: 267px;
}

.callback-form .input-comment {
  width: 100%;
  height: 155px;
}

.callback-form-button {
  
  -ms-flex-item-align: end;
  
      align-self: flex-end;
  padding: 10px 25px;
  border-radius: 20px;

  font-size: 18px;
  line-height: 24px;
}

.modal-callback .modal-close{
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  
  width: 18px;
  height: 18px;
  
  border: none;
  background-color: transparent;
  background: url("../img/cross-big.svg") no-repeat 50% 50%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 50;
}

.modal-show {
  display: block;
  -webkit-animation: appear 0.6s;
          animation: appear 0.6s;
}

.overlay-show {
  display: block;
}

.modal-error  {
  -webkit-animation: error 0.5s;
          animation: error 0.5s;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes error {
  0% {
    background-color: #f8f7f4;
  }

  50% {
    background-color: #b12e2e;
  }

  100% {
    background-color: #f8f7f4;
  }
}

@keyframes error {
  0% {
    background-color: #f8f7f4;
  }

  50% {
    background-color: #b12e2e;
  }

  100% {
    background-color: #f8f7f4;
  }
}