  body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  
  background-color: #849d8f;
  
}

a {
  text-decoration: none;
}

/* Visually hidden  */
/* .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  
} */


/* Form fields */

.input-text {
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  border: none;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  box-sizing: border-box;
  
}

.input-text:hover {
  box-shadow:rgba(154, 154, 154, 0.52) 0 0 0 2px;

}

.input-text:focus {
  box-shadow:rgba(154, 154, 154, 0.52) 0 0 0 2px;
  outline: none;

}

/* Buttons */

.button {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border: none;
  box-shadow: rgba(172, 16, 0, 0.64) 0 2px 2px 0;
  text-shadow: rgba(160, 32, 11, 0.76) 0 2px 5px;
  
}

.button:hover {
  background: #f17d65;
  box-shadow: rgba(172, 16, 0, 1) 0 2px 2px 0;
}

.button:active {
  background: linear-gradient(to top, #f26843, #e74a35);
  box-shadow: inset rgba(148, 39, 24, 1) 0 2px 2px 0;
  
}


/* Header */
.main-header {
  width: 100%;
  min-height: 113px;
  vertical-align: center;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
}

.header-block-wrapper {
  display: flex;
  flex-direction: column;
}

.block-wrapper-topline {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-navigation {
  width: 560px;
  display: flex;
  flex-direction: row;
  line-height: 18px;
  background-color: #849d8f;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 23px;

}

.site-navigation-list,
.navigation-dropdown-list  {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-list {
  display: flex;
  flex-direction: row;
}

.navigation-dropdown-list {
  display: none;
}

.site-navigation-link{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-link,
.search-call-link {
  color: inherit;

}

.site-navigation-item {
  margin-right: 29px;
}

.site-navigation-link-current {
  border: none;
  background-color: #d07058;
}

.site-navigation-link:hover {
color: #333333;
background-color: #ededed;
font-weight: 700;

}

.site-navigation-link:active {
  box-shadow: inset rgba(105, 105, 105, 1) 0 2px 1px 0;
}

.navigation-dropdown-list {
  background-color: #f8f7f4;
  color: #323232;
}

.dropdown-navigation-link {
  background-color: inherit;
  color: inherit;
}

.navigation-item-special {
  font-weight: 700;
}

.dropdown-navigation-link:hover {
  background-color: #fbded7
}

.dropdown-navigation-link:active {
  background-color: #f6b5a5;
}

.dropdown-navigation-link-current {
  background-color: #d07058;
}

.header-block {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header-search-link {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2)
}

.header-search-link:hover {
  color: #323232;
  background-color: #f8f7f4
}

.header-login-link {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-login-link:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.header-cart-link {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-cart-link:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.header-contacts {
  text-align: right;
}

.header-contacts-link {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;

}

.header-contacts-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: inherit;
}

/* Login form */
.form-login-block {
  color: #323232;
  background-color: #f8f7f4;
}

.login-form-button {
  font-size: 18px;
  line-height: 24px;

}

.login-form-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: inherit;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-form-link:hover,
.login-form-link:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3) ;
}

/* Search form */
.form-search-block {
  color:#323232;
  background-color: #f8f7f4;

}

/* Cart Modal */
.cart-content {
  font-size: 13px;
  color: #323232;
  background-color: #f8f7f4;

}

.img-cell .cart-image {
  border-radius: 50%;
}

.quantity-cell,
.cost-cell {
  text-align: center;
}

.quantity-cell .price {
  color: #999999;
}

.final-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.order-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

/* Index Promo-slider */
.promo-slider {
  min-height: 670px;
  position: relative;
}

.promo-slider-list {
  list-style: none;
}

.promo-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.slide-header {
  order: 1;
  width: 680px;
  margin-bottom: 25px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
}

.slide-image {
  margin-bottom: -75px;
}

.slider-button {
  order: 2;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  bottom: 5px;
  left: 0;
}

/* Index Banners */
.banners {
  background-color: #849d8f;
}

.banners-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.banners-item {
  width: 560px;
  display: flex;
  flex-direction: column;
  padding: 12px 21px;
  box-sizing: border-box;

}

.banners-item:first-child {
  background-color: #849d8f;
  background-image: url("../img/raspberry-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banners-item:last-child {
  background-color: #849d8f;
  background-image: url("../img/chocolate-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-header {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banner-description {
  margin: 0;
  padding: 0; 
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.banner-button {
  align-self: flex-end;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* Inner header */
.inner .page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* Inner breadcrumbs */
.breadcrumb {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.breadcrumb-item {
  margin-right: 25px;
}

.breadcrumb-link {
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumb-link:hover,
.breadcrumb-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/* Inner filters */
.filters {
  min-height: 140px;
  line-height: 18px;
  font-weight: 500;
}

.filter {
  width: 855px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start; 
  
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
}

.field-sorting-wrapper {
  width: 195px;
  display: flex;
  flex-direction: column;
}

.filter-fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
} 

.filter-fieldset-price {
  width: 220px;
}

.filter-fieldset-fat {
  width: 410px;
  display: flex;
  flex-direction: column;

}

.filter-fieldset-content {
  display: flex;
  flex-direction: column;
}

.filter-fat-list {
  display: flex;
  flex-direction: row;

}

.filter-fat-list .filter-option {
  margin-right: 18px;
}

.filter-content-list .filter-option {
  margin-right: 20px;
}



.filter-content-list {
  width: 705px;
  display: flex;
  flex-direction: row;
}

.filter-parameter-name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter-select-option {
  font-size: 14px;
  line-height: 16px;
}

.filter-select:hover {
  color: #323232;
}

.filter-select:focus {
  color: #323232;
  background-color: #ffffff;
}

.price-param-inputs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-input-range {
  background-color: rgba(255, 255, 255, 0.2);
}

.range-input {
  width: 27px;
  font:inherit;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.filter-fat-list,
.filter-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px 15px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-button:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #000000;
}

/* Index Hits & Inner Catalog */
.bestsellers {
  color: #ffffff;
  background-color: #849d8f;
  margin-bottom: 35px;
}

.catalog-list {
  margin: 0;
  padding: 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.inner .catalog-list {
  margin-bottom: 80px;
}

.catalog-item {
  width: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-image {
  border-radius: 50%;
  margin-bottom: 17px;
}

.catalog-item .item-header-link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 }

 .catalog-item .item-header-link:hover,
 .catalog-item .item-header-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3)
 }

.catalog-item .item-price {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 120px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item .item-header {
  margin: 0;
  padding: 0;
  text-align: center;
}
.catalog-item .item-price-numbers {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item .item-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* Pagination */
.pagination-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pagination-list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  list-style: none;
}

.pagination-item {
  margin-right:23px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;  
}

.pagination-link-current {
  background-color: #ffffff;
  color: #323232;
}

.pagination-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.pagination-link:active {
  background-color: #ffffff;
  color: #323232;
}


/*Index Advantages */
.advantages {
  min-height: 310px;
  margin-bottom: 40px;
  padding: 12px 21px;
  color: #323232;
  background-color: #eee1c6;
  background-image: url("../img/wafle-bg.jpg");
}

.advantages .column-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages-column {
  width: 540px;
}

.advantages-header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.advantages-list {
  width: 484px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Index Last post */

.section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.last-post {
  width: 560px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-tag {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.post-header {
  width: 280px;
  margin: 0;
  padding: 0;

}

.post-header-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 1px solid #323232;
}

.post-header-link:hover,
.post-header-link:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3)
}


/* Index Subscription */
.subscription {
  width: 560px;
  color: #323232;
  background-color: #f8f7f4;
}

.subscription-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscription-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* Index Contacts */
.contacts {
  position: relative;
}

.contacts .container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.contacts-map {
max-width: 1200px;
/* margin: 0 auto; */

}
.contacts-block {
  width: 250px;
  position: absolute;
  top: 50%;
  right: 200px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: #ffffff;
}

.contacts-special {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-tel {
  color: #323232;
}

.callback-button {
  font-size: 18px;
  line-height: 24px;

}


/* Footer */
.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.footer-navigation {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  line-height: 18px;
  background-color: #849d8f;
}

.social-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;

}

.social-button {
  color: #ffffff;
}

.footer-social {
  margin-right: 236px;
}

.footer-navigation-col {
  list-style: none;
}


.navigation-link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.navigation-link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.navigation-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.navigation-link-special {
  font-weight: 700;
}

.footer-copyright {
  margin-left: auto;
}

.copyright-text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: inherit;
}

.copyright-link {
  font-size: inherit;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
.copyright-link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright-logo-text {
  color: #ffffff;
}

/* Modal callback */
.modal-callback {
  color: #323232;
  background-color: #f8f7f4;
}

.modal-callback-header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.callback-form-button {
  font-size: 18px;
  line-height: 24px;
}


